.container {
  margin: 0 auto;
  display: column;
  position: relative;
  top: 100px;
  margin: auto;
}

.result-container {
  margin: 0 auto;
  display: column;
  position: relative;
  top: 80px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    top: 125px;
  }
  .result-container {
    top: 100px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    top: 135px;
  }
  .result-container {
    top: 120px;
  }
}

@media (max-width: 479px) {
  .container {
    top: 145px;
  }
  .result-container {
    top: 140px;
  }
}
